<% if flash[:notice] %>
 <div class= "alert alert-success" role="alert">
   <p class= "notice text-center" style="color:green;">
    <%= flash[:notice] %> 
   </p>
 </div>
<% end %> 
<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>


<p>
  <strong>Body:</strong>
  <%= @book.body %>
</p>

<p>
  <%= link_to "Edit", edit_book_path(@book.id) %>
  <%= "|" %>
  <%= link_to "Back", "/books" %>
</p>

